@font-face {
    font-family: 'Mynewfont'; /* Name of your font */
    src: url('assets/fonts/fontstyle1.ttf') format('truetype'); 
}
body{
    background-color: #212529;
    height: 95vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family:'Mynewfont';
}

.container{
    color: white;
    background-color: #343a40;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}

.container img{
    width: 75px;
    height: 75px;
    border-radius: 100px;
    padding: 20px;

}
.social-links{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    gap: 15px;
    padding: 30px;
}
.social-links a{
    text-decoration: none;
    background-color: #495057;
    text-align: center;
    padding: 5px;
    color: aliceblue;
    border-radius: 5px;
   width: 250px;
   padding: 15px;
   /* margin: 5px 0 5px 0;   */
}
.social-link:hover{
    background-color: rgb(229, 255, 0);
    color: #212529;
}
.myname{
    font-size: 30px;
    margin: 0;
}
.location{
    font-size: 15px;
    font-weight: bold;
    color: limegreen;
    margin: 0;
}
.description{
    margin: 10px 0 10px 0;
    padding: 10px;
    color: rgb(202, 195, 195);
    font-size: 14px;
}
.spotlight{
    position: absolute;
    width: 75px;
    height: 75px;
    background-color: rgba(0, 162, 255, 0.8); /* Yellowish spotlight */
    border-radius: 50%;
    pointer-events: none; /* So it doesn't interfere with mouse interactions */
    filter: blur(30px); /* Soft edges for the spotlight effect */
    transform: translate(-50%, -50%);
    z-index: -1;
}